#portfolio {
  height: 200vh;
}

.portfolio_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-bottom: 10rem;
}

.portfolio_item {
  background: transparent;
  padding: 1.3rem;
  /* border-radius: 2rem; */
  /* border: 1px solid var(--color-b-primary); */
  transition: var(--transition);
  /* height: 50vh; */
}

.portfolio_item_image {
  /* border-radius: 1rem; */
  overflow: hidden;
  /* border: 2px solid var(--color-black); */
}

.portfolio_item h3 {
  margin: 2rem 0 1.2rem;
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* RESPONSIVENESS FOR DEVICE */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  .portfolio_text {
    align-items: center;
    color: var(--color-b-primary);
    width: fit-content;
    font-weight: bolder;
    margin: auto;
    padding-bottom: 0;
    border-bottom: 2px solid var(--color-black);
  }

  .portfolio_text::before {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
