#skills {
}

.experience_container {
  display: grid;
  background-color: #1f1f1f;
  grid-template-columns: 20% 80%;
  gap: 2rem;
  padding: 2rem;
}

.skills_heading {
  text-align: left;
  padding-top: 2rem;
}

.skills_heading h2 {
  font-size: 2rem;
}

h4,
small {
  font-weight: bold;
}

.experience_content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.experience_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 0.7rem;
}

.experience_details img {
  width: 2rem;
}

/* Responsiveness */

@media screen and (max-width: 1024px) {
  .experience_container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 600px) {
}
