#contact {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../../asset/common-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container.contact_container {
  width: 70%;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 12%;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 3rem;
  height: 100%;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option {
  background: #f0f0f0;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid #ebebeb;
  transition: var(--transition);
  color: var(--color-b-primary);
}

.contact_option:hover {
  background: var(--color-white);
  border: 2px solid #f0f0f0;
}

.contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-b-primary);
}

.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
}

/* =====Form Styling===== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0;
  padding: 0;
}

.contact__form-label {
  color: var(--color-b-primary);
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 0.6rem;
  display: block;
  text-align: left;
}

.contact__form-input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 0.8rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

input {
  height: 20px;
}

.popup {
  background: #f0f0f0;
  text-align: center;
  font-weight: 600;
  color: var(--color-b-primary);
  padding: 2rem 0;
}
.popup button {
  background: var(--color-purple);
  width: 50%;
  height: max-content;
  padding: auto;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
}

/* RESPONSIVENESS FOR DEVICE */
@media screen and (max-width: 1024px) {
  .container.contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact_text::after {
    display: none;
  }

  .contact_text {
    align-items: center;
    color: var(--color-b-primary);
    width: fit-content;
    font-weight: bolder;
    margin: auto;
    padding-bottom: 0;
    border-bottom: 2px solid var(--color-black);
  }
}

@media screen and (max-width: 600px) {
  .container.contact_container {
    width: var(--container-width-ms);
  }

  .contact__btn {
    width: 100%;
  }
}
