.contact_section {
  padding: 5rem 2rem;
  /* background: #0f0f0f; */
  background: radial-gradient(circle at top, #0b0f17, #000);

  color: white;
}

/* HEADER */
.contact_header {
  text-align: center;
  margin-bottom: 3rem;
}

.contact_header h2 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
}

.contact_header span {
  background: linear-gradient(90deg, #d3e97a, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LAYOUT */
.contact_container {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 5%;
}

/* CARDS */
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact_card {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #151515;
  border: 1px solid #2a2a2a;
  transition: 0.3s;
  cursor: pointer;
}

.contact_card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 0 20px rgba(211, 233, 122, 0.3);
}

.contact_card svg {
  font-size: 1.5rem;
  color: #d3e97a;
}

/* FORM */
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* FLOATING INPUT */
.form_group {
  position: relative;
}

.form_group input,
.form_group textarea {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
  outline: none;
}

.form_group label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #777;
  transition: 0.3s;
}

.form_group input:focus + label,
.form_group input:valid + label,
.form_group textarea:focus + label,
.form_group textarea:valid + label {
  top: -10px;
  font-size: 0.7rem;
  color: #d3e97a;
  background: #0f0f0f;
  padding: 0 5px;
}

/* BUTTON */
.contact_btn {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #d3e97a;
  color: #d3e97a;
  background: transparent;
  transition: 0.3s;
}

.contact_btn:hover {
  background: #d3e97a;
  color: black;
  box-shadow: 0 0 15px #d3e97a;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_box {
  background: #111;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #d3e97a;
  text-align: center;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact_container {
    grid-template-columns: 1fr;
  }

  .contact_header h2 {
    font-size: 2rem;
  }
}
