header {
  padding-top: 6rem;
  padding-bottom: 3rem;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../../asset/common-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.9rem;
  font-weight: bolder;
  padding-top: 2.5rem;
}

/* .header_container h5 {
  font-size: 1.8rem;
  color: var(--color-b-primary);
  font-weight: bold;
} */

/* CTA Button */

.cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/*----- Social styling ----*/
.header_socials_left {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 6rem;
  font-size: 1.9rem;
  border: 10px;
  background: var(--color-white);
  width: 58px;
  padding: 18px;
}

.header_socials_right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 6rem;
  background: var(--color-white);
  font-size: 1.9rem;
  width: 58px;
  padding: 18px;
}

/* myself */

.me {
  background: linear-gradient(var(--color-b-primary
  ), transparent);
  width: 22rem;
  height: 18rem;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
}

.me img {
  border-radius: 12rem 12rem 0 0;
}

/* scroll down sytling */

/* ----Media Queries (Medium Device) -----*/
@media screen and (max-width: 1024px) {
  .header_socials_left {
    display: none;
  }
  .header_socials_right {
    display: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: bolder;
  }

  .header_container h5 {
    font-size: 1.3rem;
    color: var(--color-b-primary);
    font-weight: bold;
  }
}

/* ----Media Queries (Small Device) -----*/
@media screen and (max-width: 600px) {
  .header_socials_left {
    display: none;
  }

  .header_socials_right {
    display: none;
  }

  span {
    color: var(--color-b-primary);
    font-size: 1.2rem;
    font-weight: bold;
  }

  h1 {
    font-size: 1.9rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  h5 {
    font-size: 0.8rem;
    color: var(--color-b-primary);
    font-weight: bold;
  }
}
