div > a > img {
  width: 60px;
}

.header_fixed_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
  height: 70px;
  font-size: 0.8rem;
  position: fixed;
  width: 95%;
  top: 0px;
  left: 50px;
  z-index: 99;
  border-radius: 3rem;
  background-color: var(--color-white);
  /* filter: drop-shadow(12px 8px 4px grey); */
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header_link {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 4px;
  align-items: center;
  text-align: center;
  padding: 0.9rem 2rem;
}

ul > li > a {
  color: var(--color-black);
  padding: 0.9rem 1.5rem;
  white-space: nowrap;
  font-weight: bolder;
}

ul > li > a:hover {
  color: var(--color-purple);
}

.list_icon {
  padding: 14px 0px 0 0;
  font-size: 1.8rem;
}

.menu {
  display: none;
}

/* ----Media Queries (Medium Device) -----*/
@media screen and (max-width: 1024px) {
  .header_fixed_container {
    z-index: 99;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0rem;
    padding: 0 2rem;
  }

  .header_link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--color-light);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 13px;
    backdrop-filter: blur(4px);
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: center;
    padding: 50px 0 10px 0;
    margin: 0 50px 0 290px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .header_link.active {
    left: 0%;
  }

  ul > li > a {
    display: block;
    padding: 0.5rem 10px;
    color: #222;
    border-bottom: 1px solid var(--color-b-primary);
  }

  .menu {
    display: block;
    color: var(--color-black);
    font-size: 1.7rem;
  }
}

/* ----Media Queries (Small Device) -----*/
@media screen and (max-width: 600px) {
  .header_link {
    width: 60%;
    margin: 0 50px 0 200px;
  }
}
